body{
    background: white;
}

.main{
    max-width: none;
}
.article a,
.article h1,
.article h2,
.article h3,
.drawer .toc a.current,
.drawer .toc a:focus,
.drawer .toc a:hover{
    color: #008cff;
}

.article h1 {
    font-size: 22px;
    font-weight: 100;
}

.article h2{
    font-size: 20px;
    font-weight: 500;
}

.article h3{
    font-size: 18px;
    font-weight: 100;
}

.article table th,
.header,
.footer{
    background: #008cff;
}

.backdrop{
    display:none !important;
}

.article{
    font-size: 18px;
}

.drawer .anchor a {
    border-left: 2px solid #008cff;
}

.copyright,
.banner,
.button-search{
    display:none !important;
}

@media only screen and (min-width: 960px) {
    .header {
        left: 260px;
    }
}

.drawer{
    margin-top:0px;
    padding-top:0px;
    border-right:1px solid rgba(0,0,0,0.2);
}