.widget {
  display: block;
}
.widget iframe {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.widget .subtitle {
  color: rgba(0, 0, 0, 0.4);
}

#probe_window {
  height: 150px;
  background: black;
  bottom: 0px;
  height: 0;
  display: none;
  color: white;
  position: absolute;
  right: 0px;
  left: 250px;
}

ellipse.draw2d_shape_basic_LineStartResizeHandle,
ellipse.draw2d_shape_basic_LineEndResizeHandle,
rect.draw2d_policy_line_OrthogonalSelectionFeedbackPolicy_ResizeHandle {
  fill: #1c9bab;
}
ellipse.draw2d_InputPort,
ellipse.draw2d_OutputPort {
  fill: #c21b7a;
}

.context-menu-list {
  margin: 0;
  padding: 0;
  min-width: 120px;
  max-width: 250px;
  display: inline-block;
  position: absolute;
  list-style-type: none;
  border: 1px solid #DDD;
  background: white;
  border-left: 2px solid #1c9bab;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  white-space: nowrap;
}
.context-menu-item {
  padding: 5px 5px 5px 24px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.context-menu-separator {
  padding-bottom: 0;
  border-bottom: 1px solid #DDD;
}
.context-menu-item > label > input,
.context-menu-item > label > textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.context-menu-item.hover {
  cursor: pointer;
  background-color: #1c9bab;
  color: white;
}
.context-menu-item.disabled {
  color: #666;
}
.context-menu-input.hover,
.context-menu-item.disabled.hover {
  cursor: default;
  background-color: #EEE;
}
.context-menu-submenu:after {
  content: ">";
  color: #666;
  position: absolute;
  top: 0;
  right: 3px;
  z-index: 1;
}
/* icons
    #protip:
    In case you want to use sprites for icons (which I would suggest you do) have a look at
    http://css-tricks.com/13224-pseudo-spriting/ to get an idea of how to implement
    .context-menu-item.icon:before {}
 */
.context-menu-item.icon {
  min-height: 18px;
}
.context-menu-item.icon:before {
  position: relative;
  left: -15px;
  font-size: 19px;
}
/* vertically align inside labels */
.context-menu-input > label > * {
  vertical-align: top;
}
/* position checkboxes and radios as icons */
.context-menu-input > label > input[type="checkbox"],
.context-menu-input > label > input[type="radio"] {
  margin-left: -17px;
}
.context-menu-input > label > span {
  margin-left: 5px;
}
.context-menu-input > label,
.context-menu-input > label > input[type="text"],
.context-menu-input > label > textarea,
.context-menu-input > label > select {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.context-menu-input > label > textarea {
  height: 100px;
}
.context-menu-item > .context-menu-list {
  display: none;
  /* re-positioned by js */
  right: -5px;
  top: 5px;
}
.context-menu-item.hover > .context-menu-list {
  display: block;
}
.context-menu-accesskey {
  text-decoration: underline;
}

.morph_btn {
  display: inline-block;
  width: 4em;
  height: 4em;
  background-color: #FFF;
  color: #9e9e9e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.morph_btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.morph_btn:active {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.morph_btn:focus {
  outline: 0;
  border: none;
  color: rgba(0, 0, 0, 0);
}
.morph_btn > span {
  display: block;
  position: relative;
  width: 2em;
  height: 2em;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  overflow: hidden;
  margin: 1em;
}
.morph_btn > span > span {
  display: block;
  background-color: #c21b7a;
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  border: 1px solid transparent;
}
.morph_btn.play > span {
  -webkit-transform: translate(1em, 0) scale(1.6, 1);
  transform: translate(1em, 0) scale(1.6, 1);
}
.morph_btn.play > span > span {
  -webkit-transform: rotate(-45deg) translate(-1em, -1em) scale(1, 1);
  transform: rotate(-45deg) translate(-1em, -1em) scale(1, 1);
  background-color: #1c9bab;
}
.morph_btn.pause > span > span {
  -webkit-transform: scale(0.4, 1) translate(-1.6em, 0);
  transform: scale(0.4, 1) translate(-1.6em, 0);
}
.morph_btn.pause > span > span.s3 {
  -webkit-transform: scale(0.4, 1) translate(1.6em, 0);
  transform: scale(0.4, 1) translate(1.6em, 0);
}
.drop {
  display: block;
  position: absolute;
  background: #CCC;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.drop:before {
  display: block;
  position: absolute;
  content: "";
  background-color: #EEE;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.slider-handle {
  border-radius: 50%;
  background-color: #1c9bab;
}
#simulationStartStop {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 30000;
}
#simulationBaseTimer {
  width: 200px;
}
.simulationBase label {
  display: block;
  opacity: 0.5;
  font-size: 10px;
}
#editorLogin {
  white-space: nowrap;
  width: auto !important;
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 10px !important;
  margin-left: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  cursor: pointer;
  border-radius: 1px;
}
#editorLogin:hover {
  box-shadow: 0 2px 5px 0 #4285f4;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
#editorLogin .googleIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
}
#editorLogin .googleText {
  display: inline-block;
  font-size: 18px;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.6);
}
.workspace .toolbar {
  background-color: #EAEFF3;
  min-width: 700px;
}
.workspace .toolbar .group {
  padding-right: 20px;
  display: inline-block;
  vertical-align: middle;
}
.workspace .toolbar .github {
  float: right;
  padding-right: 20px;
  height: 60px;
}
.workspace .toolbar label {
  color: #777;
  font-weight: 200;
}
.workspace .toolbar .icon {
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
  display: inline-block;
  text-align: center;
  color: #777;
  font-size: 45px;
}
.workspace .toolbar .icon:hover {
  border: 1px solid #1c9bab;
}
.workspace .toolbar .icon.disabled {
  opacity: 0.2;
  border: 1px solid transparent;
}

.vertical-text {
  transform: rotate(-90deg);
  white-space: nowrap;
  top: 200px;
  left: 20px;
  font-size: 50px;
  color: white;
}
#leftTabStrip:after {
  content: "Digital Training Studio";
  -webkit-transform: rotate(-90deg) translate(-160px, -127px);
  -moz-transform: rotate(-90deg) translate(-160px, -127px);
  -ms-transform: rotate(-90deg) translate(-160px, -127px);
  transform: rotate(-90deg) translate(-160px, -127px);
  font-size: 34px;
  color: white;
  white-space: nowrap;
  opacity: 0.4;
}
#layout .nav-tabs {
  background-color: #8F98A7;
}
#layout .nav-tabs li a {
  text-align: center;
  padding: 0;
  padding-top: 5px;
}
#layout .nav-tabs li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#layout .nav-tabs svg *[stroke='#000000'] {
  stroke: white;
}
#layout .nav-tabs svg *[fill='#000000'] {
  fill: white;
}
#layout .nav-tabs li.active {
  background-color: white;
}
#layout .nav-tabs li.active a:hover {
  background-color: transparent;
}
#layout .nav-tabs li.active .folder *[stroke='#000000'] {
  stroke: #0078f2;
}
#layout .nav-tabs li.active .folder *[fill='#000000'] {
  fill: #0078f2;
}
#layout .nav-tabs li.active .edit *[stroke='#000000'] {
  stroke: #1c9bab;
}
#layout .nav-tabs li.active .edit *[fill='#000000'] {
  fill: #1c9bab;
}
#layout .nav-tabs li.active .setting *[stroke='#000000'] {
  stroke: #f47a1f;
}
#layout .nav-tabs li.active .setting *[fill='#000000'] {
  fill: #f47a1f;
}
#layout .nav-tabs li.active .gitbook *[stroke='#000000'] {
  stroke: #008cff;
}
#layout .nav-tabs li.active .gitbook *[fill='#000000'] {
  fill: #008cff;
}
#layout .nav-tabs li.active .about *[stroke='#000000'] {
  stroke: #ac193d;
}
#layout .nav-tabs li.active .about *[fill='#000000'] {
  fill: #ac193d;
}
#layout .nav-tabs li.active:hover {
  background-color: white;
}

#about {
  overflow: auto;
  padding: 30px !important;
}
#about h1 {
  font-size: 36px;
  display: inline-block;
  color: white;
  background-color: #ac193d;
  padding: 11px;
  font-weight: 200;
  margin-bottom: 50px;
}
#about ul {
  font-size: 25px;
  font-weight: 200;
}
#about ul li {
  margin-bottom: 30px;
  max-width: 70%;
  border-left: 6px solid #ac193d;
  padding-left: 10px;
  list-style-type: none;
}
#about footer {
  text-align: center;
  margin-top: 100px;
  color: #ac193d;
}
#about footer a {
  color: #ac193d;
  text-decoration: underline;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
.notLoggedIn {
  opacity: 0.2;
  transition: all 2s;
  -webkit-transition: all 2s;
}
#file {
  overflow: auto;
  padding: 30px !important;
  background: transparent url(../images/bg.png);
  background-size: cover;
}
#file .teaser {
  margin-bottom: 30px;
}
#file .teaser .title {
  color: #0078f2;
  font-weight: 200;
  font-size: 4vw;
  white-space: nowrap;
  border-bottom: 1px solid #0078f2;
  margin-bottom: 10px;
}
#file .teaser .slogan {
  font-size: 2vw;
  font-weight: 200;
  color: #34495e;
  width: 500px;
}
#file .tile {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 2s;
  -webkit-transition: all 2s;
}
#file .tile .description {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
}
#file .tile .title {
  font-size: 20px;
  padding-top: 30px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.9);
}
#file .tile .icon {
  width: 130px;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
}
#file .tile.purple,
#file .tile.blue,
#file .tile.red,
#file .tile.orange,
#file .tile.green {
  color: #fff;
}
#file .tile.purple {
  background: #5133AB;
}
#file .tile.purple:hover {
  background: #3e2784;
}
#file .tile.red {
  background: #AC193D;
}
#file .tile.red:hover {
  background: #7f132d;
}
#file .tile.green {
  background: #00A600;
}
#file .tile.green:hover {
  background: #007300;
}
#file .tile.blue {
  background: #4285f4;
}
#file .tile.blue:hover {
  background: #125acd;
}
#file .tile.orange {
  background: #DC572E;
}
#file .tile.orange:hover {
  background: #b8431f;
}
#file footer {
  text-align: center;
  margin-top: 100px;
  color: #0078f2;
}
#file footer a {
  color: #0078f2;
  text-decoration: underline;
}

text.highlightOnHover:hover {
  fill: #1c9bab;
  cursor: pointer;
}
ellipse.highlightOnHover:hover {
  stroke: #1c9bab;
  cursor: pointer;
}
rect.Raft {
  fill: rgba(28, 155, 171, 0.1);
}
#configMenuIcon {
  font-size: 25px;
  cursor: pointer;
  opacity: 0.3;
}
#configMenuIcon:hover {
  opacity: 1;
  color: #1c9bab;
}
#paletteElementsOverlay {
  bottom: 0px;
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
}
#canvas_zoom {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
}
#canvas_zoom button {
  background-color: transparent;
  font-weight: 300;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid transparent;
  outline: none;
}
#canvas_zoom button:hover {
  border: 1px solid #1c9bab !important;
}
#figureConfigDialog {
  display: none;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-left: 3px solid #1c9bab;
}
#figureConfigDialog .figureAddLabel {
  font-size: 14px;
  font-weight: 200;
  cursor: pointer;
}
#figureConfigDialog .figureAddLabel:hover {
  color: #1c9bab;
}
.pallette_item {
  text-align: center;
}
.workspace .palette {
  box-shadow: 4px 0px 9px -4px rgba(74, 74, 74, 0.74);
  border-right: 1px solid rgba(74, 74, 74, 0.5);
}
.workspace .palette #filter {
  outline: none;
}
.workspace .palette .title {
  background-color: #1c9bab;
  color: white;
  font-size: 25px;
  line-height: 45px;
  right: 0px;
  top: 30px;
  position: absolute;
  min-width: 120px;
  padding-left: 20px;
}
.workspace .palette .pallette_item {
  padding: 0px;
}
.workspace .palette .pallette_item > div {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid transparent;
}
.workspace .palette .pallette_item .glowBorder {
  border: 1px solid #1c9bab;
}
.workspace .palette .draw2d_droppable {
  cursor: move;
  max-height: 80px;
}
.workspace .content .canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 0;
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body #layout {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body #layout .nav-tabs {
  float: left;
  border-bottom: 0;
}
body #layout .nav-tabs li {
  float: none;
  margin: 0;
}
body #layout .nav-tabs li a {
  margin-right: 0;
  border: 0;
}
body #layout #leftTabStrip {
  height: 100%;
  position: absolute;
  width: 60px;
  padding-top: 60px;
  overflow: hidden;
}
body #layout #leftTabStrip .leftTab {
  border-radius: 0 !important;
  width: 60px;
  height: 60px;
}
body #layout .tab-content {
  position: relative;
  margin-left: 60px;
  height: 100%;
}
body #layout .tab-content .tab-pane {
  display: none;
  padding: 0px;
  height: 100%;
  position: relative;
}
body #layout .tab-content .tab-pane .workspace .palette {
  position: absolute;
  height: 100%;
  width: 250px;
  padding: 0;
}
body #layout .tab-content .tab-pane .workspace .palette .title {
  right: 0px;
  top: 30px;
  position: absolute;
}
body #layout .tab-content .tab-pane .workspace .palette #filter {
  top: 90px;
  position: absolute;
  font-size: 20px;
  width: 245px;
  left: 2px;
}
body #layout .tab-content .tab-pane .workspace .palette #paletteElementsScroll {
  position: absolute;
  width: 248px;
  margin: 0;
  padding: 0;
  top: 150px;
  bottom: 0px;
  overflow: auto;
}
body #layout .tab-content .tab-pane .workspace .palette #paletteElementsScroll #paletteElements {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body #layout .tab-content .tab-pane .workspace .palette #paletteElementsScroll #paletteElements .mix {
  height: 125px;
  border: 1px solid #f0f0f0;
  /* to avoid doubling the border of the grid */
  margin: -1px 0 0 -1px;
}
body #layout .tab-content .tab-pane .workspace .toolbar {
  position: absolute;
  height: 60px;
  right: 0;
  top: 0;
  left: 250px;
}
body #layout .tab-content .tab-pane .workspace .toolbar .icon {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 0px;
}
body #layout .tab-content .tab-pane .workspace .content {
  position: absolute;
  right: 0px;
  top: 60px;
  bottom: 0px;
  left: 250px;
  overflow: scroll;
}
body #layout .tab-content .tab-pane .workspace .content .canvas {
  width: 6000px;
  height: 6000px;
}
body #layout .tab-content .active {
  display: block;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 0;
}

.githubFileDialog .githubNavigation *[data-draw2d="true"] {
  font-weight: bold;
  color: #0078f2;
}
.githubFileDialog .githubNavigation .glyphicon,
.githubFileDialog .githubNavigation .fa {
  font-size: 20px;
  padding-right: 10px;
  color: #0078f2;
}
.githubFileDialog .githubNavigation a.list-group-item:hover {
  text-decoration: underline;
}
.githubFileDialog .githubNavigation *[data-draw2d="false"][data-type="file"] {
  color: gray;
  cursor: default;
  text-decoration: none !important;
}
.githubFileDialog .githubNavigation *[data-draw2d="false"][data-type="file"] .fa {
  color: gray;
}

#markdownDialog .modal-dialog {
  width: 70%;
}
#markdownDialog .modal-content {
  border-radius: 0;
}
#markdownDialog .btn-primary {
  background-color: #1c9bab;
  border: 0;
}
#markdownDialog .html {
  min-height: 450px;
  max-height: 650px;
  overflow: auto;
}
#markdownDialog .html table {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 12px;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  margin: 20px;
  margin-left: 0;
  border: #ccc 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
#markdownDialog .html table th {
  padding: 21px 25px 22px 25px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
}
#markdownDialog .html table th:first-child {
  text-align: left;
  padding-left: 20px;
}
#markdownDialog .html table tr:first-child th:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
#markdownDialog .html table tr:first-child th:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
#markdownDialog .html table tr {
  text-align: center;
  padding-left: 20px;
}
#markdownDialog .html table tr td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}
#markdownDialog .html table tr td {
  padding: 18px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}
#markdownDialog .html tbody tr:nth-child(odd) {
  background: #fafafa;
}
#markdownDialog .html tbody tr:nth-child(even) {
  background: #f3f3f3;
}
#markdownDialog .html table tr:last-child td {
  border-bottom: 0;
}
#markdownDialog .html table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#markdownDialog .html table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#codePreviewDialog .modal-content {
  border-radius: 0;
}
#codePreviewDialog .btn-primary {
  background-color: #1c9bab;
  border: 0;
}
#codePreviewDialog .prettyprint {
  max-height: 450px;
  max-height: 250px;
  overflow: scroll;
  border-radius: 0;
}

#githubFileSelectDialog .githubNavigation {
  height: 300px;
  overflow: scroll;
}

#githubSaveFileDialog .githubFilePreview {
  font-size: 100px;
}

#githubFileSaveAsDialog .githubFilePreview {
  max-width: 200px;
  max-height: 200px;
}
#githubFileSaveAsDialog .githubNavigation {
  height: 250px;
  overflow: scroll;
}
